
<div class="jumbotron">
    <div class="container text-white">
      <h1 class="display-4">References</h1>
      <hr class="my-4">
      <p class="lead">More info:</p>
      <p class="lead"> 
        <a href="https://en.wikipedia.org/wiki/Boids">wikipedia</a> | 
        <a href="https://www.red3d.com/cwr/boids/">red3d</a> | 
        <a href="http://www.kfish.org/boids/pseudocode.html">kfish</a> | 
        <a href="https://thecodingtrain.com/CodingChallenges/124-flocking-boids">thecodingtrain</a>
    </p>
      <hr class="my-4">
      <p class="lead create">Created by Tamir Azizi Background by Ben Ben-Harush</p>
    </div>
  </div>
