
<div class="jumbotron">
    <div class="container text-white">
      <h1 class="display-4">References</h1>
      <hr class="my-4">
      <p class="lead">More info:</p>

        <a href="https://en.wikipedia.org/wiki/Boids">Wikipedia</a>
        <br>
        <a href="https://www.red3d.com/cwr/boids/">Red3d</a>
        <br>
        <a href="http://www.kfish.org/boids/pseudocode.html">Kfish</a>
        <br>
        <a href="https://thecodingtrain.com/CodingChallenges/124-flocking-boids">Thecodingtrain</a>

      <hr class="my-4">
      <p class="lead create">Created by Tamir Azizi Background by Ben Ben-Harush</p>
    </div>
  </div>
