
<div class="jumbotron">
    <div class="container text-white">
      <h1 class="display-4">Boids</h1>
      <hr class="my-4">
      <p class="lead">Boids is an artificial life program, developed by Craig Reynolds in 1986, which simulates the flocking behaviour of birds.</p>
      <p class="lead">This app created to give an idea how this beautiful simulation looks like.</p>
      <hr class="my-4">
      <p class="lead create">Created by Tamir Azizi Background by Ben Ben-Harush</p>
    </div>
  </div>
